{:paths   ["resources" "src"]
 :deps    {org.clojure/clojure         {:mvn/version "1.10.1"}
           org.clojure/clojurescript   {:mvn/version "1.10.520"}
           org.clojure/tools.cli       {:mvn/version "0.4.2"}
           org.clojure/tools.namespace {:mvn/version "0.3.1"}}
 :aliases {}}
